#cuadro1 {
    background-color: white;   
}

.cuadro1-container {
    background-color: skyblue;
    width: auto;
    height: 100px;
}
 
.cuadro2-container {
    background-color: skyblue;
    width: auto;
    height: 100px;
}

.cuadro3-container {
    background-color: skyblue;
    width: auto;
    height: 100px;
}

.cuadro4-container {
    background-color: skyblue;
    width: auto;
    height: 100px;
}